<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <configSections>
        <section name="genome" type="Genome.ConfigSection, Genome.Core"/>
    </configSections>
    <genome>
        <root>
            <!-- Insert/replace your Genome configuration here -->
            <!-- Add xmlns:g="urn:genome:config" to the 'root' define genome namespace -->
        </root>
    </genome>
</configuration>